@{
    ViewBag.Title = " - Sisa Cuti Tahunan -";
    Layout = "~/Areas/Mobile/Views/Shared/_rootMobile.cshtml";
}

@{
    Html.EnableUnobtrusiveJavaScript();
}

@{ var mobilearea = new { area = "Mobile" }; }

@section Header {
    @Html.ActionLink("Kembali", "UserHome", "User", mobilearea, new { data_icon = "arrow-l" })
    @Html.ActionLink("Home", "Dashboard", "Home", mobilearea, new { data_icon = "home" })
}

@section Title {
    <h5>@ViewBag.Title</h5>
}

@using (Html.BeginForm())
{
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider"><a href="@Url.Action("Dashboard", "Home", mobilearea)">User Home</a> > Sisa Cuti Tahunan</li>
        <li data-role="list-divider">Sisa Cuti Tahunan</li>
    </ul>
    
    Html.RenderAction("SisaTahunanPartial", "User", mobilearea);
}

<br />
<label>@ViewData["Catatan"]</label>


