@{
    ViewBag.Title = "HRIS - Input Password Akun";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@using AristaHRM.Models

@model PasswordModel

@{
    Html.EnableUnobtrusiveJavaScript();
}

<script type="text/javascript">

</script>

<div class="formbase">
    <table class="tablebase">
        <thead>
            <tr>
                <td class="tableheader">
                    <p class="tableheadercontent">Input Password Akun</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tablebody">
                    <div class="tablebodycontent">
                        <p style="text-align:left;">Silakan masukkan password pilihan anda pada kotak isian berikut ini. </p>
                        @using (Html.BeginForm("InputPassword", "Input", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div style="margin-left:55px">
                            @Html.DevExpress().FormLayout(settings =>
                            {
                                settings.Name = "SettingPass";
                                settings.AlignItemCaptionsInAllGroups = true;
                                settings.SettingsItemCaptions.HorizontalAlign = FormLayoutHorizontalAlign.Right;
                                settings.Theme = AristaHRM.Theme.SelectTheme;
                                settings.Items.Add(layoutitem =>
                                {
                                    layoutitem.Caption = "NIK ";
                                    layoutitem.SetNestedContent(() =>
                                    {
                                        Html.DevExpress().TextBoxFor(m => m.NIK, textbox =>
                                        {
                                            textbox.Width = Unit.Pixel(300);
                                            textbox.Theme = AristaHRM.Theme.SelectTheme;
                                            textbox.ReadOnly = true;
                                        }).GetHtml();
                                    });
                                });
                                settings.Items.Add(layoutitem =>
                                {
                                    layoutitem.Caption = "Password ";
                                    layoutitem.SetNestedContent(() =>
                                    {
                                        Html.DevExpress().TextBoxFor(m => m.Password, textbox =>
                                        {
                                            textbox.Properties.Password = true;
                                            textbox.Width = Unit.Pixel(300);
                                            textbox.Theme = AristaHRM.Theme.SelectTheme;
                                            textbox.Properties.ValidationSettings.Display = Display.None;
                                            textbox.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                                            textbox.ShowModelErrors = true;
                                        }).GetHtml();
                                    });
                                });
                                settings.Items.Add(layoutitem =>
                                {
                                    layoutitem.Caption = "Konfirmasi Password ";
                                    layoutitem.SetNestedContent(() =>
                                    {
                                        Html.DevExpress().TextBoxFor(m => m.Konfirmasi, textbox =>
                                        {
                                            textbox.Properties.Password = true;
                                            textbox.Width = Unit.Pixel(300);
                                            textbox.Theme = AristaHRM.Theme.SelectTheme;
                                            textbox.Properties.ValidationSettings.Display = Display.None;
                                            textbox.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                                            textbox.ShowModelErrors = true;
                                        }).GetHtml();
                                    });
                                });
                            }).GetHtml();
                            </div>
                            <div class="formbutton">
                            @Html.DevExpress().Button(button =>
                            {
                                button.Name = "btnConfirm";
                                button.Text = "Lanjutkan";
                                button.UseSubmitBehavior = true;
                                button.Theme = AristaHRM.Theme.SelectTheme;
                            }).GetHtml();
                            @{ ViewContext.Writer.Write("&nbsp;"); }
                            @Html.DevExpress().Button(button =>
                            {
                                button.Name = "btnReset";
                                button.Text = "Reset Formulir";
                                button.UseSubmitBehavior = false;
                                button.Attributes.Add("type", "reset");
                                button.ClientSideEvents.Click = "function(s, e) { ASPxClientEdit.ClearEditorsInContainer(null); }";
                                button.Theme = AristaHRM.Theme.SelectTheme;
                            }).GetHtml();
                            </div>
                        }
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td><p style="text-align:center; color:red; font:12px Arial">@ViewData["ErrorMsg"]</p></td>
            </tr>
        </tfoot>
    </table>
</div>