@{
    ViewBag.Title = " - Reset Password -";
    Layout = "~/Areas/Mobile/Views/Shared/_rootMobile.cshtml";
}

@using AristaHRM.Models

@model PasswordModel

@{
    Html.EnableUnobtrusiveJavaScript();
}

@{ var mobilearea = new { area = "Mobile" }; }

@section Header {
    @Html.ActionLink("Kembali", "AdminKaryawan", "Admin", mobilearea, new { data_icon = "arrow-l" })
    @Html.ActionLink("Home", "Dashboard", "Home", mobilearea, new { data_icon = "home" })
}

@section Title {
    <h5>@ViewBag.Title</h5>
}

<p>Masukkan NIK untuk memulai reset password.</p>

@using (Html.BeginForm("ResetPassword", "Admin", mobilearea, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">
            <a href="@Url.Action("AdminMenu", "Admin", mobilearea)">Admin Home</a> > <a href="@Url.Action("AdminKaryawan", "Admin", mobilearea)">Admin Karyawan</a> > Reset Password
        </li>
        <li data-role="list-divider">Reset Password</li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.NIK)
            @Html.TextBoxFor(m => m.NIK)
        </li>
    </ul>
    
    <input id="submit" name="submit" type="submit" value="Lanjutkan Proses" />
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#submit").click(function () {
                $("form").submit();
            });
        });
    </script>
}


