@{
    ViewBag.Title = "HRIS - Data Perusahaan";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@using AristaHRM.Models

@{
    Html.EnableUnobtrusiveJavaScript();
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#ShowWindow").click(
            function () {
                FieldListWindow();
            }
        );
    });
    function grid_CustomizationWindowCloseUp(s, e) {
        UpdateCaption();
    }
    function FieldListWindow() {
        if (DataPerusahaanGrid.IsCustomizationWindowVisible())
            DataPerusahaanGrid.HideCustomizationWindow();
        else
            DataPerusahaanGrid.ShowCustomizationWindow();
        UpdateCaption();
    }

    function UpdateCaption() {
        var text = DataPerusahaanGrid.IsCustomizationWindowVisible() ? "Sembunyikan" : "Tampilkan";
        text += " Field Chooser";
        $("#ShowWindow").val(text);
    }

    function DataPerusahaanGrid_FocusedRowChanged(s, e) {
        if (s.cpIsEditing) {
            s.UpdateEdit();
        }
    }

    function DataPerusahaanGrid_RowDblClick(s, e) {
        s.StartEditRow(e.visibleIndex);
    }

    function editor_KeyDown(s, e) {
        switch (e.htmlEvent.keyCode) {
            case 13:
                DataPerusahaanGrid.UpdateEdit();
                break;
            case 27:
                DataPerusahaanGrid.CancelEdit();
                break;
        }
    }

    function onInit(s, e) {
        adjustSize();
    }
    function onEndCallback(s, e) {
        if (s.cpMessage) {
            alert(s.cpMessage);
            delete s.cpMessage;
        }

        var edit = s.GetEditor(1);
        if (edit) {
            edit.SelectAll();
            edit.SetFocus();
        }
        adjustSize();
    }
    function onControlsInitialized(s, e) {
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            adjustSize();
        });
    }
    function adjustSize() {
        var height = Math.max(0, document.documentElement.clientHeight);
        DataPerusahaanGrid.SetHeight(height);
    }

    // fungsi ribbon control
    function onCommandExecuted(s, e) {
        var button = e.item.name;
        var refreshData = "@DevExpressHelper.GetUrl(new { Controller = "Manager", Action = "Perusahaan" })"
        var exportToPDF = "@DevExpressHelper.GetUrl(new { Controller = "Master", Action = "EksporPerusahaanPDF" })";
        var exportToXLS = "@DevExpressHelper.GetUrl(new { Controller = "Master", Action = "EksporPerusahaanXLS" })";
        var exportToXLSX = "@DevExpressHelper.GetUrl(new { Controller = "Master", Action = "EksporPerusahaanXLSX" })";
        var exportToRTF = "@DevExpressHelper.GetUrl(new { Controller = "Master", Action = "EksporPerusahaanRTF" })";
        var exportToCSV = "@DevExpressHelper.GetUrl(new { Controller = "Master", Action = "EksporPerusahaanCSV" })";
        if (button == "Refresh") {
            window.location.href = refreshData;
        }
        else if (button == "ExPDF") {
            window.location.href = exportToPDF;
        }
        else if (button == "ExXLS") {
            window.location.href = exportToXLS;
        }
        else if (button == "ExXLSX") {
            window.location.href = exportToXLSX;
        }
        else if (button == "ExRTF") {
            window.location.href = exportToRTF;
        }
        else if (button == "ExCSV") {
            window.location.href = exportToCSV;
        }
    }
</script>

<div class="formbase">
    <table class="tablebase">
        <thead>
            <tr>
                <td class="tableheader">
                    <p class="tableheadercontent">Data Perusahaan</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tablebody">
                    <div class="tablebodycontent">
                        <label style="font: 12px Arial">
                            Berikut ini adalah daftar perusahaan yang bergabung dalam ARISTA Group.
                        </label><br /><br />
                        @using (Html.BeginForm("Perusahaan", "Manager", FormMethod.Post))
                        {
                            Html.DevExpress().Ribbon(settings =>
                            {
                                settings.Name = "RibbonPerusahaan";
                                settings.ShowFileTab = false;
                                settings.ShowGroupLabels = true;
                                settings.ShowTabs = true;
                                settings.ClientSideEvents.CommandExecuted = "function (s, e) { onCommandExecuted(s, e); }";
                                settings.Theme = AristaHRM.Theme.SelectTheme;

                                var ManageTab = settings.Tabs.Add("Perusahaan");
                                ManageTab.Groups.Add(group =>
                                {
                                    group.Name = "Setting";
                                    group.Text = string.Empty;
                                    group.Items.Add(RibbonHelper.CreateButtonItem<RibbonButtonItem>("Refresh", "Refresh Data", RibbonItemSize.Large, "~/Images/Refresh.png"));
                                });
                                ManageTab.Groups.Add(group =>
                                {
                                    group.Name = "Export";
                                    group.Text = "Ekspor Data";
                                    group.Items.Add(RibbonHelper.CreateButtonItem<RibbonButtonItem>("ExPDF", "Ekspor PDF", RibbonItemSize.Large, "~/Images/ExportPDF.png"));
                                    group.Items.Add(RibbonHelper.CreateButtonItem<RibbonButtonItem>("ExXLS", "Ekspor XLS", RibbonItemSize.Large, "~/Images/ExportXLS.png"));
                                    group.Items.Add(RibbonHelper.CreateButtonItem<RibbonButtonItem>("ExXLSX", "Ekspor XLSX", RibbonItemSize.Large, "~/Images/ExportXLSX.png"));
                                    group.Items.Add(RibbonHelper.CreateButtonItem<RibbonButtonItem>("ExRTF", "Ekspor RTF", RibbonItemSize.Large, "~/Images/ExportRTF.png"));
                                    group.Items.Add(RibbonHelper.CreateButtonItem<RibbonButtonItem>("ExCSV", "Ekspor CSV", RibbonItemSize.Large, "~/Images/ExportCSV.png"));
                                });
                            }).GetHtml();
                            
                            Html.RenderAction("PerusahaanPartial");
                        }
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>