@using AristaHRM.Models

@model KaryawanModel

<p>@Html.LabelFor(m => m.NIK)</p>

<p>@Html.LabelFor(m => m.Nama_Karyawan)</p>

<p>@Html.LabelFor(m => m.Perusahaan)</p>

<p>@Html.LabelFor(m => m.Cabang)</p>

<p>@Html.LabelFor(m => m.Jabatan)</p>