@{
    ViewBag.Title = " - Sisa Cuti Tahunan -";
    Layout = "~/Areas/Mobile/Views/Shared/_rootMobile.cshtml";
}

@{
    Html.EnableUnobtrusiveJavaScript();
}

@{ var mobilearea = new { area = "Mobile" }; }

@section Header {
    @Html.ActionLink("Kembali", "MasterData", "Manager", mobilearea, new { data_icon = "arrow-l" })
    @Html.ActionLink("Home", "Dashboard", "Home", mobilearea, new { data_icon = "home" })
}

@section Title {
    <h5>@ViewBag.Title</h5>
}

<p>
    Sisa Cuti Tahunan Anda
</p>

@using (Html.BeginForm("SisaTahunan", "Manager", mobilearea, FormMethod.Post, null))
{
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider"><a href="@Url.Action("ManagerMenu", "Manager", mobilearea)"></a> > <a href="@Url.Action("ManageCuti", "Manager", mobilearea)">Manajemen Cuti</a> > Sisa Cuti Tahunan</li>
        <li data-role="list-divider">Sisa Cuti Tahunan</li>

    </ul>
    
    Html.RenderAction("SisaTahunanPartial", "Manager", mobilearea);
}

<label>@ViewData["Catatan"]</label>