@{
    ViewBag.Title = " - Ubah Password -";
    Layout = "~/Areas/Mobile/Views/Shared/_rootMobile.cshtml";
}

@using AristaHRM.Models

@model PasswordModel

@{
    Html.EnableUnobtrusiveJavaScript();
}

@{ var mobilearea = new { area = "Mobile" }; }

@section Header {
    @Html.ActionLink("Kembali", "SuperKaryawan", "Supervisor", mobilearea, new { data_icon = "arrow-l" })
    @Html.ActionLink("Home", "SuperMenu", "Supervisor", mobilearea, new { data_icon = "home" })
}

@section Title {
    <h5>@ViewBag.Title</h5>
}

<p>Masukkan password baru pada kotak yang disediakan.</p>

@using (Html.BeginForm("UbahPassword", "Supervisor", mobilearea, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <p>@ViewBag.ErrorMsg</p>

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">
            <a href="@Url.Action("SuperMenu", "Supervisor", mobilearea)">Supervisor Home</a> > <a href="@Url.Action("SuperKaryawan", "Supervisor", mobilearea)">Supervisi Karyawan</a> > Ubah Password
        </li>
        <li data-role="list-divider">Ubah Password</li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.NIK)
            @Html.TextBoxFor(m => m.NIK)
        </li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.Pass_Lama)
            @Html.PasswordFor(m => m.Pass_Lama)
        </li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.Pass_Baru)
            @Html.PasswordFor(m => m.Pass_Baru)
        </li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.Konfirmasi)
            @Html.TextBoxFor(m => m.Konfirmasi)
    </ul>
    <input id="submit" name="submit" type="submit" value="Ubah Password" />
    <input id="reset" name="reset" type="reset" value="Reset Formulir" onclick="window.location.reload(true);" />
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#submit").click(function () {
                $("form").submit();
            });
        });
    </script>
}