@{
    ViewBag.Title = " - Supervisi Cuti -";
    Layout = "~/Areas/Mobile/Views/Shared/_rootMobile.cshtml";
}

@{
    Html.EnableUnobtrusiveJavaScript();
}

@{ var mobilearea = new { area = "Mobile" }; }

@section Header {
    @Html.ActionLink("Kembali", "SuperMenu", "Supervisor", mobilearea, new { data_icon = "arrow-l" })
    @Html.ActionLink("Home", "Dashboard", "Home", mobilearea, new { data_icon = "home" })
}

@section Title {
    <h5>@ViewBag.Title</h5>
}

@{
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Supervisi Cuti</li>
        <li>@Html.ActionLink("Pengajuan Cuti", "Pengajuan", "Supervisor", mobilearea, new { hidefocus = "hidefocus" })</li>
        <li>@Html.ActionLink("Persetujuan Cuti Tahunan", "ApprovalTahunan", "Supervisor", mobilearea, new { hidefocus = "hidefocus" })</li>
        <li>@Html.ActionLink("Persetujuan Cuti Khusus", "ApprovalKhusus", "Supervisor", mobilearea, new { hidefocus = "hidefocus" })</li>
    </ul>
}

