@{
    ViewBag.Title = "HRIS - Reset Password Akun";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@using AristaHRM.Models

@model PasswordModel

@{
    Html.EnableUnobtrusiveJavaScript();
}

<script type="text/javascript">

</script>

<div class="formbase">
    <table class="tablebase">
        <thead>
            <tr>
                <td class="tableheader">
                    <p class="tableheadercontent">Reset Password Akun</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tablebody">
                    <div class="tablebodycontent">
                        <p style="font: 12px Arial; text-align:left">
                            Silakan isi data identitas (NIK) anda untuk memulai tahapan reset password. Pastikan email yang terdaftar pada sistem adalah alamat email yang valid.
                        </p><br />
                        <p style="font: 12px Arial; text-align:left">Apabila anda mengalami masalah teknis dalam proses reset password ini, mohon segera menghubungi admin di @Html.ActionLink("sini", "About", "Help").</p>
                        <div style="text-align:center">
                            @* Begin form*@
                            @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                
                                @Html.DevExpress().FormLayout(settings =>
                                {
                                    settings.Name = "KonfirmasiLayout";
                                    settings.AlignItemCaptionsInAllGroups = true;
                                    settings.SettingsItemCaptions.HorizontalAlign = FormLayoutHorizontalAlign.Right;
                                    settings.Items.Add(layoutitem =>
                                    {
                                        layoutitem.Caption = "NIK Anda ";
                                        layoutitem.SetNestedContent(() =>
                                        {
                                            Html.DevExpress().TextBoxFor(m => m.NIK, textbox =>
                                            {
                                                textbox.Width = Unit.Pixel(300);
                                                textbox.Properties.ValidationSettings.Display = Display.None;
                                                textbox.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
                                                textbox.ShowModelErrors = true;
                                                textbox.Theme = AristaHRM.Theme.SelectTheme;
                                                textbox.Properties.ClientSideEvents.Init = "function (s, e) { s.Focus(); s.SelectAll(); }";
                                            }).GetHtml();
                                        });
                                    });
                                }).GetHtml();
                                <br /><br />
                                <div class="formbutton">
                                @Html.DevExpress().Button(button =>
                                {
                                    button.Name = "btnSubmit";
                                    button.Text = "Reset Password";
                                    button.UseSubmitBehavior = true;
                                    button.Theme = AristaHRM.Theme.SelectTheme;
                                }).GetHtml()
                                @{ ViewContext.Writer.Write("&nbsp;"); }
                                @Html.DevExpress().Button(button =>
                                {
                                    button.Name = "btnRedirect";
                                    button.Text = "Kembali";
                                    button.UseSubmitBehavior = false;
                                    button.RouteValues = new { Controller = "Home", Action = "Index" };
                                    button.Theme = AristaHRM.Theme.SelectTheme;
                                }).GetHtml()
                                </div>
                            }
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <p style="text-align:center; color:red">@ViewData["ErrorMsg"]</p>
                </td>
            </tr>
        </tfoot>
    </table>
</div>