@{
    ViewBag.Title = "HRIS - Data Sisa Cuti Tahunan";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

@using AristaHRM.Models

@{
    Html.EnableUnobtrusiveJavaScript();
}

<script type="text/javascript">
    function onInit(s, e) {
        // adjustSize();
    }

    function adjustSize() {
        var height = Math.max(0, document.documentElement.clientHeight);
        DataSisaCutiGrid.SetHeight(height);
    }

    // fungsi ribbon control
    function onCommandExecuted(s, e) {
        var button = e.item.name;
        var refreshData = "@DevExpressHelper.GetUrl(new { Controller = "User", Action = "DataSisaCT" })";
        var exportToPDF = "@DevExpressHelper.GetUrl(new { Controller = "Master", Action = "EksporSisaPDF" })";
        var exportToXLS = "@DevExpressHelper.GetUrl(new { Controller = "Master", Action = "EksporSisaXLS" })";
        var exportToXLSX = "@DevExpressHelper.GetUrl(new { Controller = "Master", Action = "EksporSisaXLSX" })";
        var exportToRTF = "@DevExpressHelper.GetUrl(new { Controller = "Master", Action = "EksporSisaRTF" })";
        var exportToCSV = "@DevExpressHelper.GetUrl(new { Controller = "Master", Action = "EksporSisaCSV" })";
        if (button == "Refresh") {
            window.location.href = refreshData;
        }
        else if (button == "ExPDF") {
            window.location.href = exportToPDF;
        }
        else if (button == "ExXLS") {
            window.location.href = exportToXLS;
        }
        else if (button == "ExXLSX") {
            window.location.href = exportToXLSX;
        }
        else if (button == "ExRTF") {
            window.location.href = exportToRTF;
        }
        else if (button == "ExCSV") {
            window.location.href = exportToCSV;
        }
    }
</script>

<div class="formbase">
    <table class="tablebase">
        <thead>
            <tr>
                <td class="tableheader">
                    <p class="tableheadercontent">Data Sisa Cuti Tahunan</p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tablebody">
                    <div class="tablebodycontent">
                        <label style="font: 12px Arial">
                            Berikut ini adalah daftar sisa cuti tahunan yang anda miliki.<br />
                            Klik tombol "Refresh Data" untuk me-refresh data pada daftar.
                        </label>
                        @using (Html.BeginForm("SisaTahunan", "User", FormMethod.Post))
                        {
                            Html.DevExpress().Ribbon(settings =>
                            {
                                settings.Name = "RibbonSisa";
                                settings.ShowFileTab = false;
                                settings.ShowGroupLabels = true;
                                settings.ShowTabs = true;
                                settings.ClientSideEvents.CommandExecuted = "function (s, e) { onCommandExecuted(s, e); }";
                                settings.Theme = AristaHRM.Theme.SelectTheme;

                                var ManageTab = settings.Tabs.Add("Sisa Cuti");
                                ManageTab.Groups.Add(group =>
                                {
                                    group.Name = "Setting";
                                    group.Text = string.Empty;
                                    group.Items.Add(RibbonHelper.CreateButtonItem<RibbonButtonItem>("Refresh", "Refresh Data", RibbonItemSize.Large, "~/Images/Refresh.png"));
                                });
                                ManageTab.Groups.Add(group =>
                                {
                                    group.Name = "Export";
                                    group.Text = "Ekspor Data";
                                    group.Items.Add(RibbonHelper.CreateButtonItem<RibbonButtonItem>("ExPDF", "Ekspor PDF", RibbonItemSize.Large, "~/Images/ExportPDF.png"));
                                    group.Items.Add(RibbonHelper.CreateButtonItem<RibbonButtonItem>("ExXLS", "Ekspor XLS", RibbonItemSize.Large, "~/Images/ExportXLS.png"));
                                    group.Items.Add(RibbonHelper.CreateButtonItem<RibbonButtonItem>("ExXLSX", "Ekspor XLSX", RibbonItemSize.Large, "~/Images/ExportXLSX.png"));
                                    group.Items.Add(RibbonHelper.CreateButtonItem<RibbonButtonItem>("ExRTF", "Ekspor RTF", RibbonItemSize.Large, "~/Images/ExportRTF.png"));
                                    group.Items.Add(RibbonHelper.CreateButtonItem<RibbonButtonItem>("ExCSV", "Ekspor CSV", RibbonItemSize.Large, "~/Images/ExportCSV.png"));
                                });
                            }).GetHtml();
                            Html.RenderAction("SisaTahunanPartial");
                            <br />
                            <label style="font: 12px Arial">@ViewData["Catatan"]</label>
                        }
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>