@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <meta http-equiv="refresh" content="5; URL=@Url.Action("Dashboard", "Home", new { area = "Mobile" })" />
    <meta name="viewport" content="width=device-width" />
    <title>- Mobile HRIS -</title>

    @{
        @Scripts.Render("~/bundles/jquerymobile");
        @Scripts.Render("~/bundles/modernizr");
        @Scripts.Render("~/bundles/momentbase");
        @Scripts.Render("~/bundles/pdf");
        @Styles.Render("~/Content/Mobile/css");
        @Styles.Render("~/Content/themes/base/css");
        @Styles.Render("~/Content/jquerymobile/css");
    }

    <script type="text/javascript" src="~/Scripts/jquery.ui.datepicker-id.js"></script>

    <script type="text/javascript">
        $(document).on('mobileinit', function () {
            $.mobile.ajaxEnabled = false;
        });

        $(document).on('pageshow', '[data-role=page]', function () {
            $(window).resize();
        });
    </script>

</head>
<body>
    <div data-role="page" data-theme="b" style="overflow:scroll">
        <div data-role="header">
            @if (IsSectionDefined("Header"))
            {
                <h1>Mobile HRIS</h1>
                @RenderSection("Header")
            }
            else
            {
                <h1>Mobile HRIS</h1>
                @Html.Partial("_LogOnMobileView")
            }
        </div>
        <div data-role="header" style="text-align:center">
            @if (IsSectionDefined("Title"))
            {
                @RenderSection("Title")
            }
        </div>
        <div data-role="content" style="overflow:scroll" ng-app="HRISMobile">
            @RenderBody()
        </div>
        <div data-role="footer" style="text-align:center">
            @* Untuk menghindari error, gunakan data-ajax = false sebagai parameter *@
            @Html.ActionLink("Desktop View", "Index", "Home", new { area = "", }, new { id = "button", data_ajax = "false" })
            @*Html.ActionLink("Desktop View", "Index", "Home", new { area = "" }, new { id = "button" })*@
            <p style="font-weight:lighter">
                HRIS Mobile Theme @DateTime.Now.Year
                <br />Version 0.5.0
            </p>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
